<div class="col_sm-12 col-md-4 col-lg-4">
    <div class="bg-[#f9f9fb] flex flex-col items-start justify-between p-[20px] md:p-[24px] rounded-[20px] md:min-w-[544px]">
        <div class="mb-4">
            <img src="/new/images/stars.svg" alt="5 stars" class="h-[18px] w-[122px]" />
        </div>
        <p class="text-[16px] text-[grey] leading-[24px] mb-6">
            <perch:content id="card_content" type="textarea" label="Text" markdown editor="simplemde" imagewidth="640" imageheight="480">
        </p>
        <div class="border-t border-[#d6d6d6] flex gap-[8px] items-center pt-[24px] w-full">
            <p class="font-medium leading-[24px] text-[#0d0d0d] text-[16px] whitespace-nowrap">
                <perch:content id="card_title" type="text" label="Text" required title>
            </p>
        </div>
    </div>
</div>
