<perch:shop id="status" type="select" label="Status" options="created|created,paid|paid,processing|processing,dispatched|dispatched,cancelled|cancelled" required="true" />
<perch:shop id="total" type="number" label="Order total" required="true" />
<perch:shop id="gateway" type="text" label="Gateway" required="true" default="manual" />
<perch:shop id="order_description" type="text" label="Order Description"  />
<perch:shop id="customerID" type="text" readonly label="customer ID" required="true"  />
