<div class="order-summary-grid">
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Order ID</span>
        <span class="order-summary-grid__value"><perch:shop id="orderID" /></span>
    </div>
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Invoice number</span>
        <span class="order-summary-grid__value"><perch:shop id="invoice_number" /></span>
    </div>
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Placed on</span>
        <span class="order-summary-grid__value"><perch:shop id="orderCreated" type="date" format="d F Y H:i" /></span>
    </div>
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Status</span>
        <span class="order-summary-grid__value"><perch:shop id="orderStatus" format="UC" /></span>
    </div>
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Shipping</span>
        <span class="order-summary-grid__value"><perch:shop id="currencySymbol" /> <perch:shop id="orderShippingTotal" /></span>
    </div>
    <div class="order-summary-grid__item">
        <span class="order-summary-grid__label">Order total</span>
        <span class="order-summary-grid__value"><perch:shop id="grand_total_formatted" /></span>
    </div>
</div>
