
<perch:form id="upload" method="post" app="perch_members" enctype="multipart/form-data" class="upload-form">
    <div class="upload-form__fields">
        <div class="plan upload-box" data-save="8">
            <h5><perch:label for="image">ID Document:</perch:label></h5>
            <perch:input type="hidden" name="documentType" id="documentType" value="id-documents" />
            <perch:input type="file" name="image[]" id="image" accept="image/*" required multiple="multiple" class="document-image-input" />
            <div class="preview image-preview-container"></div>
        </div>
        <div class="plan upload-box" data-save="8">
            <h5><perch:label for="video">Video Document:</perch:label></h5>
            <perch:input type="file" name="video[]" id="video" accept="video/*" required multiple="multiple" class="document-video-input" />
            <div class="preview video-preview-container"></div>
        </div>
    </div>

    <perch:input type="submit" value="Upload" name="upload" class="btn btn-primary next_btn next-btn upload-submit" />

</perch:form>
