
<perch:before>


</perch:before>





<div class="flex justify-between items-center py-2 px-3 rounded-lg" style="background-color: #f9fafb">

	<span ><perch:if exists="dose_label"><perch:shop id="dose_label" /><perch:else /><perch:shop id="productVariantDesc" /></perch:if></span>
	<span class="font-semibold"><perch:if exists="sale_price"><perch:shop id="sale_price" type="shop_currency_value" /><perch:else /><perch:shop id="price" type="shop_currency_value" /></perch:if></span>

</div>





<perch:after>

</perch:after>
